{% extends 'aplicacion/base.html' %}

{% block titulo %}
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Login</span></h1>
    </div>     
{% endblock titulo %}

{% block informacion %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label"></label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label"></label>
            {{ form.password }}
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Ingresar</button>
        </div>
    </form>
{% endblock informacion %}
